version: '3.8'

services:
  # Наше приложение FastAPI
  backend:
    build: ./backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      # Важно: здесь хост 'db' совпадает с именем сервиса базы ниже
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/support_db
    depends_on:
      - db

  # База данных PostgreSQL
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=support_db
    ports:
      - "5432:5432"

volumes:
  postgres_data:
